*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    /* margin: 10px; */
}
.container{
    display: flex;
    /* background-color: red; */
    border: 1px solid black;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(23,23,23,0.8);
    box-shadow: 10px 20px 30px;
}
#sec-container{
    margin-top: 30px;
}
#box1{
    background-color: #FFB200;
}
#box2{
    background-color:#FF4191;
}
#box3{
    background-color:#EB5B00;
}
#box4{
    background-color:#E4003A;
}
#box5{
    background-color:#BC5A94;
}
#box6{
    background-color:#7C00FE;
}
#box7{
    background-color:#399918;
}
#box8{
    background-color:#FF0000;
}
#box9{
    background-color:#3C5B6F;
}
#box10{
    background-color:#7da70a;
}

h1, h3{
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 10px;
}
p{
    font-size: 20px;
    font-weight: 1000;
    /* margin-bottom: 20px; */
    margin-top: 20px;
}